{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
  <article>
    <h1>Make a reservation</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
          <form method="POST" id="form" onsubmit="submitForm(event)">
            {% csrf_token %}
          <p>
              <label for="name">Name:</label>
              <input type="text" placeholder="Your Name" maxlength="200" required id="name">
            </p>
            <p>
              <label for="reservation_date">Reservation date:</label>
              <input id="reservation_date" type="date" required>
            </p>
      
            <p>
              <label for="reservation_slot">Reservation time:</label>
              <select id="reservation_slot" required>
                <option value="0" disabled>Select time</option>
              </select>
            </p>
            <p>
              <label for="no_of_guests">No of Guests:</label>
              <input id="no_of_guests" type="number" required value="1" />
            </p>
            <button type="submit" id="button">Reserve</button>
        </form>
      </div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <h2>Bookings For <span id="today"></span></h2>
        <div id="bookings"></div>
      </div>
      <!--End col-->
    </div>
    <!--End row-->
  </article>
</section>
<script>

  const date = new Date();
  const formattedDate = `${date.getUTCFullYear()}-${(date.getUTCMonth() + 1).toString().padStart(2, "0")}-${date.getUTCDate().toString().padStart(2, "0")}`;
  
  document.getElementById('reservation_date').value = formattedDate;

  getBookings()

  function getBookings() {
    let reserved_slots = []
    const date = document.getElementById('reservation_date').value
    document.getElementById('today').innerHTML = date
    fetch("{% url 'littlelemonAPI:bookings-api' %}" + '?date=' + date)
      .then(r => r.json())
      .then(data => {
        reserved_slots = []
        bookings = ''
        const items = data;   
        
        if (items.length) {
          for (let item of items) {
            reserved_slots.push(item.reservation_slot)
            bookings +=  `<p>${item.name} - ${formatTime(item.reservation_slot)} - Table for ${item.no_of_guests} people</p>`
          }          
        }
      
        let slot_options = '<option value="0" disabled>Select time</option>';

        for (let i = 10; i <= 20; i++) {
          const label = formatTime(i);
          if (reserved_slots.includes(i)) {
            slot_options += `<option value=${i} disabled>${label}</option>`
          } else {
            slot_options += `<option value=${i}>${label}</option>`
          }
        }
        
        document.getElementById('reservation_slot').innerHTML = slot_options
        if (bookings == '') {
          bookings = "<p>No bookings</p>"
        }
        
        document.getElementById('bookings').innerHTML = bookings
      })
  }

  function formatTime(time) {
    const ampm = time < 12 ? 'AM' : 'PM'
    const t = time < 12 ? time : time > 12 ? time - 12 : time
    const label = `${t} ${ampm}`
    return label
  }

  function submitForm(e) {
    e.preventDefault();
    const formData = {
      name: document.getElementById('name').value,
      reservation_date: document.getElementById('reservation_date').value,
      reservation_slot: document.getElementById('reservation_slot').value,
      no_of_guests: document.getElementById('no_of_guests').value
    }

    fetch("{% url 'littlelemonAPI:bookings-api' %}", { method: 'POST', headers: {'Content-Type': 'application/json'}, body: JSON.stringify(formData) })
      .then(response => response.text())
      .then(data => {
        getBookings()
      })
  }

  document.getElementById('reservation_date').addEventListener('change', function(e) {
    e.preventDefault();
    getBookings();
  });

</script>
{% endblock %}

